/* Primarios */
negro {
    color: #221f1f;
}
negro8 {
    color: #57585a;
}
amarillo {
    color: #fcb32e;
}

/* Otros */
blanco {
    color: #ffffff;
}
negro2 {
    color: #1A1A1A;
}
gris {
    color: #666666;
}
negro3 {
    color: #000000;
}
amarillo2 {
    color: #F1B634;
}
naranjo{
    color: #D3752E
}