<div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
    
    <div class="flex justify-between mb-2 w-full px-4 pt-4">
        <div class="flex flex-col">
            <span class="text-base font-medium text-blue-700 dark:text-white">DuocUc</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">45%</span>
        </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 75%"></div>
        </div>

    
    </div>   
    <p class="font-normal text-gray-700 dark:text-gray-400">Porcentate Total de.</p> 
</div>