---
import Table from './Table.astro';
---

<!-- CONTENIDO PRINCIPAL -->
    <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <!-- Grid de cajas -->
        <div class="grid grid-cols-3 gap-4 mb-4">
            <!-- <Filter /> -->
            <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 1</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Lista de Regiones</p>
                </a>
            </div>
            <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 2</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Lista de Comunas</p>
                </a>
            </div>
            <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 3</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Lista de Ciudades</p>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Dashboard Interactivo</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400"></p>
                </a>
            </div>
            <!-- <Table /> -->
            <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Tabla Colegios</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400"></p>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Carta Numero</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Representación Total de.</p>
                </a>
            </div>
            <!-- <Card_p /> -->
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Carta %</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Porcentate Total de.</p>
                </a>
            </div>
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Carta Numero 2</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Prospectos totales captados</p>
                </a>
            </div>
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Carta % 2</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Porcentaje de Prospectos</p>
                </a>
            </div>
        </div>
        <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Dashboard 2</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400"></p>
                </a>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 4</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Lista de Colegios</p>
                </a>
            </div>
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 5</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Tipo de Matricula (Subencionado, particular, etc)</p>
                </a>
            </div>
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 6</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Especialidad</p>
                </a>
            </div>
            <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="text-align: center;">Filtro 7</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400"></p>
                </a>
            </div>
        </div>
    </div>
    </div>
))